.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode/
.virtual_documents/
.ipynb_checkpoints/
*.Rproj
*.tif
*.parquet
*.pdf
!/_book/*.pdf
*.geojson
*.csv
raw_analysis.xlsx
tagged_analysis.xlsx
tagged_analysis.old.xlsx
!/external/province_regioni.csv
*.duckdb*
~$*.xlsx
temp/
tmp_duck/
cache/
missing*/
db/
!init_db.ipynb
db.old/
stationsdb/
.env
.Renviron
.DS_Store
tokens
kml_metadata/
notebooks/julia

build/
*.aux
*.log
*.toc
*.synctex.gz
/.quarto/
_latex_artifacts/
.quarto/
_freeze
_book/
/elaborato/**/*_cache/
/elaborato/**/*_files/
/elaborato/images/**/*.tex
/elaborato/build
!/elaborato/build/main.pdf
/elaborato/archs
