.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode/
.virtual_documents/
.ipynb_checkpoints/
*.Rproj
*.tif
*.parquet
*.pdf
*.geojson
*.csv
*.duckdb*
temp/
cache/
missing*/
db/
!init_db.ipynb
db.old/
stationsdb/
.env
.Renviron
.DS_Store
tokens

build/
