.Rproj.user
.Rhistory
.RData
.Ruserdata
.vscode/
.virtual_documents/
.ipynb_checkpoints/
*.Rproj
*.code-workspace
*.tif
*.parquet
*.pdf
*.geojson
temp/
cache/
missing*/
db/
.env
.Renviron
.DS_Store
tokens

build/
